BODY {
	BACKGROUND: #E2E2E2; 
	FONT-FAMILY: Verdana, Arial, sans-serif;
	FONT-SIZE: 10pt;
}

A {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	COLOR: #222222;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}

A:visited {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	COLOR: #444444;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}

A:hover {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	COLOR: #FF9900;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}

A:active {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	COLOR: #FF9900;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}

A.normlink {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	COLOR: #222222;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}

A.normlink:visited {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	COLOR: #444444;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}

A.normlink:hover {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	COLOR: #FF9900;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}

A.normlink:active {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	COLOR: #FF9900;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}

A.tablelink {
	COLOR: #FFFF99;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
}

A.tablelink:visited {
	COLOR: #FFFF99;
	TEXT-DECORATION: none;
}

A.tablelink:hover {
	COLOR: #FFFF99;
	TEXT-DECORATION: underline;
}

A.tablelink:active {
	COLOR: #FFFF99;
	TEXT-DECORATION: underline;
}

TR.tableheader {
	BACKGROUND-COLOR: #212021;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: xx-small;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
}

TR.tablerow1 {
	BACKGROUND: #585858;
}

TR.tablerow2 {
	BACKGROUND: #404040;
}

DIV.fat {
	FONT-WEIGHT: bold;
}

FONT.header {
	COLOR: #FF9A31;
}

FONT.normalcol {
	COLOR: #FFFFFF;
}

FONT.number {
	COLOR: #000000;
}

FONT.copyright {
	COLOR: #FFFFFF;
}

FONT.attention {
	COLOR: #E01010;
}

TD.header {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
}

TD.normalcol {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: small;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
}

DIV.header {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	FONT-SIZE: 18pt;
	COLOR: #FF9900;
	TEXT-ALIGN: left;
	FONT-WEIGHT: normal;
}                                              

DIV.menu {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: right;
}                                                                 

DIV.pages {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	FONT-SIZE: 7pt;
	TEXT-ALIGN: right;
	MARGIN-RIGHT: 0px;
}                                             

DIV.name {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	FONT-SIZE: 10pt;
	COLOR: #FF9900;
	TEXT-ALIGN: left;
}

DIV.text {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	FONT-SIZE: 10pt;
	TEXT-ALIGN: left;
}

DIV.text1 {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	FONT-SIZE: 10pt;
	TEXT-ALIGN: center;
}

DIV.number {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: left;
}                                                                

DIV.foot {
	FONT-FAMILY: Verdana, Arial, sans-serif;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: center;
}

TD.border1 {
	BACKGROUND: #999999;
	BORDER: 0px;
}                                                             

TD.border2 {
	BACKGROUND: #DDDDDD;
	BORDER: 0px;
}                     

TD.table1 {
	BACKGROUND-COLOR: #C0C0C0;
	BORDER: 0px;
	VERTICAL-ALIGN: top;
	WIDTH: 25%;
}                           

TD.table2 {
	BACKGROUND-COLOR: #CCCCCC;
	BORDER: 0px;
	VERTICAL-ALIGN: top;
}

TD.searchresult1 {
	BACKGROUND-COLOR: #A5A5A5;
	BORDER: 0px;
	VERTICAL-ALIGN: top;
	WIDTH: 25%;
} 

TD.searchresult2 {
	BACKGROUND-COLOR: #A5A5A5;
	BORDER: 0px;
	VERTICAL-ALIGN: top;
}             

INPUT.text {
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-LEFT-COLOR: #000000;
	BORDER-LEFT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #000000;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-TOP-COLOR: #000000;
	BORDER-TOP-WIDTH: 1px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10pt;
	MARGIN-BOTTOM: 1px;
	MARGIN-TOP: 1px;
}

INPUT.submit {
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-LEFT-COLOR: #000000;
	BORDER-LEFT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #000000;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-TOP-COLOR: #000000;
	BORDER-TOP-WIDTH: 1px;
	COLOR: #243543;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 9px;
	FONT-WEIGHT: bold;
	HEIGHT: 11px;
}

TEXTAREA {
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10pt;
	OVERFLOW-X: hidden;
	OVERFLOW-Y: auto
}
