BODY {
	COLOR: #000000; 
	BACKGROUND-COLOR: #051005; 
}

A {
	COLOR: #FFFF99;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
}

A:visited {
	COLOR: #FFFF99;
	TEXT-DECORATION: none;
}

A:hover {
	COLOR: #FFFF99;
	TEXT-DECORATION: underline;
}

A:active {
	COLOR: #FFFF99;
	TEXT-DECORATION: underline;
}

A.normlink {
	COLOR: #FFFF99;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
}

A.normlink:visited {
	COLOR: #FFFF99;
	TEXT-DECORATION: none;
}

A.normlink:hover {
	COLOR: #FFFF99;
	TEXT-DECORATION: underline;
}

A.normlink:active {
	COLOR: #FFFF99;
	TEXT-DECORATION: underline;
}

A.tablelink {
	COLOR: #FFFF99;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
}

A.tablelink:visited {
	COLOR: #FFFF99;
	TEXT-DECORATION: none;
}

A.tablelink:hover {
	COLOR: #FFFF99;
	TEXT-DECORATION: underline;
}

A.tablelink:active {
	COLOR: #FFFF99;
	TEXT-DECORATION: underline;
}

TR.tableheader {
	BACKGROUND-COLOR: #507060;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: xx-small;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
}

TR.tablerow1 {
	BACKGROUND: #70A685;
}

TR.tablerow2 {
	BACKGROUND: #609675;
}

TR.searchresult {
	BACKGROUND: #A5A5A5;
}

DIV.fat {
	FONT-WEIGHT: bold;
}

FONT.header {
	COLOR: #FF8F00;
}

FONT.normalcol {
	COLOR: #FFFFFF;
}

FONT.number {
	COLOR: #000000;
}

FONT.copyright {
	COLOR: #FFFFFF;
}

FONT.attention {
	COLOR: #E01010;
}

TD.header {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
}

TD.normalcol {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: small;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
}

INPUT.text {
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-LEFT-COLOR: #000000;
	BORDER-LEFT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #000000;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-TOP-COLOR: #000000;
	BORDER-TOP-WIDTH: 1px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10pt;
	MARGIN-BOTTOM: 1px;
	MARGIN-TOP: 1px;
}

INPUT.submit {
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-LEFT-COLOR: #000000;
	BORDER-LEFT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #000000;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-TOP-COLOR: #000000;
	BORDER-TOP-WIDTH: 1px;
	COLOR: #243543;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 9px;
	FONT-WEIGHT: bold;
	HEIGHT: 11px;
}

TEXTAREA {
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10pt;
	OVERFLOW-X: hidden;
	OVERFLOW-Y: auto
}
