.contenuto {
/*border: 1px dotted black; */
padding:10px;
width:620;
height:280;
overflow-x: hidden;
overflow-y: scroll;
}

.loader {
margin-top:130px;
background-image: url(loader.gif);
background-repeat: no-repeat;
}

.competizione {
	font-size: larger;
	font-style: italic;
}

.giornata {
	font-weight: bold;
}

.fantagiornata {
	text-decoration: underline;
}

.testocomm {
	text-align: justify;
}
