#div_loading{
   position: absolute; 
	visibility: hidden;
	height: 100px; 
	width: 250px; 
   top: 25%;
   left: 40%; 
}

table.loading {
text-align: left; 
color: #ffffff; 
background-color: #66ccff;
border: 2px solid #003366;
font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
}

table.loading td.intestazione{
    font-size: x-small;
	 padding: 3px; 
	 background-color: #003366; 
	 color: #ffffff;
	 height: 20px;
	 font-weight: bold;
	 
	 }

table.loading td.quotidiano {
   font-size: x-small;
	width:200px; 
	/*border-top:1px dotted  black; */
	padding: 3px;
	height: 20px;
}
table.loading td.loading{
	padding-left: 5px; 
	width:20px;
	/*border-top: 1px dotted black;*/
}
